<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MMM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg %n</Property>
    </Properties>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <File name="FILE" fileName="target/logs/${date:yyyyMMdd'T'HHmmss}.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="org.citrusframework" level="info" additivity="false">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="org.citrusframework.report" level="debug" additivity="false">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="org.citrusframework.http" level="debug" additivity="false">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="org.citrusframework.actions" level="debug" additivity="false">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="org.citrusframework.validation.DefaultMessageHeaderValidator" level="debug" additivity="false">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="org.citrusframework.validation.json" level="debug" additivity="false">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="org.springframework" level="error" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>